@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* height: 100%; */
}

html,
body {
  /* height: 100%; */
  color: #fff;
  background: #1f1934;
}

main {
/* height: 100%; */
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: #009ca6;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Personalización completa y responsive para bullets Swiper */
.swiper-pagination-bullet {
  background-color: #009ca6;
  /* Color de bullets por defecto */
  width: 12px;
  height: 12px;
  opacity: 0.6;
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
  /* Color activo blanco para buen contraste */
  opacity: 1;
  transform: scale(1.3);
  /* Hace el punto activo más grande */
}

/* Flechas personalizadas para cada Swiper */
.swiper-services-prev, .swiper-services-next {
  color: #009ca6 !important;
}

.swiper-clients-prev, .swiper-clients-next {
  color: #ffffff !important;
}



@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 4px;
    height: 4px;
  }

  .swiper-pagination-bullet-active {
    transform: scale(1.2);
  }
}

/* Centrar la paginación de Swiper */
.swiper-pagination {
  bottom: -20px;
  display: flex;
  left: 50%;
  justify-content: center;
  gap: 8px;
}